Wichtler::Application.configure do
  config.action_mailer.default_url_options = { :host => 'localhost:3000' }
  # config.action_mailer.default_url_options = {
  #   host: 'wichtler.localhost.localdomain',
  #   protocol: 'https',
  # }
  # config.action_mailer.smtp_settings = {
  #   address: 'localhost',
  #   enable_starttls_auto: false,
  #   ssl: false,
  #   tls: false
  # }
end
